.drop-off {
    font-weight: bold;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
  }
  .center-content {
    text-align: center;
  }
  
  .customer-details ion-icon {
    margin-bottom: 10px;
  }
  