
<ion-app>


  <div class="ion-page"  id="main-content"> 
    <ion-header  >
      <ion-toolbar color="warning">
        <ion-buttons slot="start" class="ion-padding" >
          <ion-icon size="large" name="arrow-back-outline"></ion-icon>
        </ion-buttons>
        <img src="assets/menu-logo.png" alt="Beez Logo" class="logo" /><span class="drop-off">40000</span>
        <ion-buttons slot="end" class="ion-padding" >
    
        <ion-icon name="location"  class="ion-padding-end" ></ion-icon>
      
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

  





<ion-content  class="ion-padding ">

  <ion-grid>
    <ion-row>
      <ion-col>
        <h4>Drop off</h4>
        <p>area: 40000</p>
      </ion-col>
    </ion-row>

    <h5>Parcels</h5>
    <ion-card >
    <ion-row>
    
      <ion-col>
       
        <ion-item>
          <ion-checkbox slot="start"></ion-checkbox>
          <ion-label>SGH240731A44 00-1</ion-label>
          <ion-button fill="clear" slot="end">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card>
    <ion-row class="customer-details">
      <ion-col size="4" class="center-content">
        <ion-icon name="person-circle" size="large"></ion-icon>
        <ion-col size="4" class="center-content">
        <h5>MR NYDA</h5>
        <h5>98898644</h5>
        </ion-col> 
      </ion-col>
      <ion-col size="4" class="center-content">

        <ion-icon name="call"  size="large"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
 
 
</ion-content>



  <ion-footer >
    <ion-row class="dark-bg">
      <ion-col>
        <ion-button expand="full" color="warning">
          <ion-icon slot="start" name="scan-outline"></ion-icon>
          Scan
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" color="light">
         ENTER CODE
        </ion-button>
      </ion-col>
    </ion-row>
   <ion-row class="dark-bg">
    <ion-col size="12">
      <ion-button expand="full" color="warning">DONE</ion-button>

    </ion-col>
   </ion-row>
  
  </ion-footer>
  </div>
</ion-app>



