
<ion-app>


  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="warning">
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">This is the menu content.</ion-content>
  </ion-menu>
  <div class="ion-page"  id="main-content"> 
    <ion-header  >
      <ion-toolbar color="warning">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <img src="assets/menu-logo.png" alt="Beez Logo" class="logo" />
        <ion-buttons slot="end" class="ion-padding" >
        <span class="wifi-badge"> <ion-icon class="ion-padding-end"  name="wifi" ></ion-icon> <span> 0</span> </span>
        <ion-icon name="location"  class="ion-padding-end" ></ion-icon>
        <ion-icon name="document-text"></ion-icon>
        </ion-buttons>

     
      </ion-toolbar>

   
      <ion-toolbar color="light">      
        <ion-searchbar color="light"></ion-searchbar>
      </ion-toolbar>
   
    </ion-header>

  





<ion-content>



<h5 class="ion-text-right"> Delivered 0 out of 1</h5>
   
 

   <ion-card class="light-success list-card">
    <ion-row class="ion-no-padding">
      <ion-col>
        <ion-card-subtitle><p>(1)</p>
          Order #:</ion-card-subtitle>
       <p> INFINITE_SG240731A30</p>
       <p> 07
        # of packages: 1</p>
        <p>For MR META</p>
        <p>322 ANG MO KIO AVENUE 3</p>

        <p>#09-1934560322</p>
        </ion-col>
      <ion-col>
        <h5 class="red-text">1</h5>
         <p> HOME</p>
        <ion-card-title>TEMPCTL</ion-card-title>
        <h5>COORDINATE</h5>
        <h5 class="delivery-time">18:00-22:00</h5>
      </ion-col>
    
    </ion-row>
    </ion-card>


  

 
</ion-content>



  
  </div>
</ion-app>



