
.logo{
  width: 80px;
 
}

.wifi-badge{ position: relative;
  span{ position: absolute; border-radius: 3px; right:5px; top:-8px; display: inline-block; font-size: 12px;  background-color: black; padding: 3px; color: #fff;}
}