



<ion-content class="ion-padding" [fullscreen]="true">

  <!-- Logo Section -->
  <div class="form-row ion-text-center logo-container">
    <img src="assets/logo.png" alt="Beez Logo" class="logo" />
  </div>

  <!-- Login Form Section -->
  <form [formGroup]="loginForm" *ngIf="loginForm">
    
    <!-- Bee ID Input -->
    <div class="form-row">
      <ion-input 
        label="Bee ID" 
        label-placement="floating" 
        fill="outline" 
        placeholder="Bee ID" 
        formControlName="email">
      </ion-input>
      <!-- Validation for Email -->
      <div *ngIf="f['email'].errors && (submittedLogin || f['email'].touched)">
        <span *ngIf="f['email'].hasError('required')" class="text-danger">Email is required</span>
        <span *ngIf="f['email'].errors['pattern']" class="text-danger">Invalid email address</span>
      </div>
    </div>

    <!-- Password Input -->
    <div class="form-row">
      <ion-input 
        label="Password" 
        label-placement="floating" 
        fill="outline" 
        placeholder="Password" 
        type="password" 
        formControlName="password">
      </ion-input>
      <!-- Validation for Password -->
      <div *ngIf="f['password'].errors && (submittedLogin || f['password'].touched)">
        <span *ngIf="f['password'].hasError('required')" class="text-danger">Password is required</span>
        <span *ngIf="f['password'].errors['minlength']" class="text-danger">Minimum 6 characters required</span>
        <span *ngIf="f['password'].errors['maxlength']" class="text-danger">Maximum 15 characters allowed</span>
      </div>
    </div>
  </form>

  <!-- Sign-In Button -->
  <div class="form-row ion-text-center">
    <!-- <ion-button color="warning">SIGN IN</ion-button> -->
    <ion-button color="warning" (click)="login()">SIGN IN</ion-button>
  </div>

</ion-content>

