/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";
:root {
    --ion-color-warning: #f69200;
    --ion-color-success-light: #cce8b5;
    --ion-color-success: #00ac94;
    --ion-color-medium: #3e4450;
    --ion-color-medium-light: #858585;
  }

  .logo{
    width: 80px;
   
  }
  ion-progress-bar{ height: 40px; border-radius: 0px; margin: 5px 0;}
  .light-success{ background-color: var(--ion-color-success-light);}
  ion-footer{ background-color: #fff;}
  .dark-bg{ background-color: var(--ion-color-medium); }
  .list-card-action {   
    .item-inner{ border-bottom: 0;}
  }


.btn-rounded { width: 50px; height: 50px;
}
